<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomos do Tempo</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>


    <header>
        <img class="logoimg" src="img/logoM.jfif" alt="Logo do Site">
        <div>

            <h1>Tomos do Tempo</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="liv_pessoa">Livro</a></li>
            </ul>
        </nav>
    </header>
   <div class="alinhamento">
    <h2>Capítulo 1: Convite para a Mansão Obscura</h2>


    <p>Ethan, um artista excêntrico, recebe um convite para explorar a Mansão Obscura, uma construção colossal no coração
    de uma cidade misteriosa. Seu amigo, Olivia, uma escritora fascinada por histórias sombrias, decide acompanhá-lo. No
    entanto, o pintor rival de Ethan, Victor, alerta sobre os perigos que os aguardam.
    Olivia: Ethan, você recebeu o convite também? Parece que a Mansão Obscura está chamando os artistas mais obscuros da
    cidade.
    Ethan: Sim, Olivia. É intrigante, não acha? Vamos juntos, talvez seja uma oportunidade única para explorarmos nossas
    visões mais sombrias.
    Victor: Ethan, você sempre teve sorte, mas desta vez está se aventurando em território perigoso. Não se atreva a
    roubar meu lugar como o artista mais sombrio desta cidade.</p>


    <h2>Capítulo 2: A Mansão Obscura</h2>


    <p>Ao entrarem na Mansão Obscura, os corredores distorcidos e salas psicodélicas começam a exercer sua influência sobre
    os artistas. Eles encontram outros criativos presos em suas próprias criações, alguns aliados, outros manifestando
    hostilidade.
    Lila: Ethan, Olivia, cuidado com as suas criações. Elas podem se tornar seus próprios demônios.
    Olliver: Jovem Ethan, a arte pode ser uma faca de dois gumes. Cuidado com a linha tênue entre o sublime e o
    perigoso.
    Victor, incapaz de resistir à influência, torna-se obcecado com poder.
    Victor: (risada sinistra) Esta mansão me dará o poder que eu mereço, Ethan.</p>


    <h2>Capítulo 3: O Plot Twist </h2>


    <p>No clímax da história, Ethan está prestes a entregar sua alma ao Mestre dos Pesadelos, mas o mentor Olliver
    intercede.
    Olliver: Ethan, a verdadeira arte está na aceitação. Não se entregue às sombras que cria.
    O Mestre dos Pesadelos desaparece, revelando que a Mansão Obscura era uma ilusão. Ethan, Olivia e Victor despertam
    em uma sala vazia, de volta à realidade.
    Olivia: Foi tudo uma ilusão? Estamos de volta?
    Ethan: Sim, parece que perdemos nossas almas em nossas próprias criações. Mas aprendemos algo valioso.</p>


    <h2>Capítulo 4: A Redenção </h2>


    <p>Victor, ainda enlouquecido, recusa-se a aceitar a lição. Criaturas macabras ganham vida na cidade, refletindo sua
    escuridão interior.
    Victor: (gritando) Eu sou o mestre das sombras! Ninguém pode me deter!
    Ethan, Olivia e Olliver enfrentam as criaturas, tentando alcançar a parte perdida de Victor.
    Olliver: A arte é um reflexo da alma, mas também uma ferramenta para redenção. Precisamos enfrentar nossos demônios
    para domá-los.
    A cidade, uma vez envolta em pesadelos, começa a se acalmar. Victor, consciente de seus erros, junta-se a Ethan e
    Olivia na tarefa de reconstruir a cidade.
    Victor: Eu estava cego pela busca da perfeição. A verdadeira arte está em encontrar equilíbrio.
    Epílogo: O Renascimento
    A Mansão Obscura desaparece, deixando para trás apenas as memórias de uma noite surreal. A cidade renasce,
    transformada pela lição aprendida. Ethan, Olivia e Victor, unidos pela experiência, usam sua arte para curar e
    inspirar, prometendo nunca mais perder-se nos abismos da escuridão.
    A história, agora concluída, destaca a importância do equilíbrio na expressão artística e a redenção encontrada na
    aceitação das imperfeições.</p>
</div>

    <footer class="footerv2">
        <p>&copy; 2024 Tomos do tempo. Todos os direitos reservados.</p>
    </footer>

</body>

</html>