<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomos do Tempo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <img class="logoimg" src="img/logoM.jfif" alt="Logo do Site">
    <div class="logo">
        <h1>Tomos do Tempo</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="liv_pessoa">Livro</a></li>
            <li><a href="cad_pessoa">Cadastrar-se</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
</header>

<div>
    <form class="cad2" th:action="@{/login}" method="post">
        <div>
            <label for="email">E-mail:</label>
            <input name = "username" type="text" id="email" required>
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input name ="password" type="password" id="senha" required/>
        </div>
        
        <button type="submit">Login</button>



    </form>
</div>

<footer class="footer">
    <p>&copy; 2024 Tomos do tempo. Todos os direitos reservados.</p>
</footer>

</body>
</html>
